body {
  background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/scrolling-film-strip-3-transparent-alpha-channel-loop_-1_ih8dxs__M0000.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.container {
  margin-top: 20px;
  padding: 0;
  /*font-family: cursive;*/
  font-weight: 300;
  height: 100vh;
  font-size: 1.3em;
}

input[type="text"] {
  outline: none;
  border: none;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 0.8em;
  width: 400px;
  margin-top: 25px;
}

input[type="submit"] {
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
    -webkit-appearance: none;
    font-size: 1rem;
    text-shadow: none;
    line-height: 1.2;
    display: inline-block;
    border: 1px solid #fff;
    outline: 0;
    padding: 10px 16px;
    position: relative;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    background: none;
    text-overflow: ellipsis;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    font-weight: normal !important;
    margin-left: 30px;
}

.user-input {
  text-align: center;
}

.title {
  font-family: cursive;
}

.content-container {
  justify-content: center;
  display: flex;
  font-size: 0.9em;
  margin-top: 30px;
}

.description-container {
  margin-top: 90px;
  margin-left: 30px;
  width: 50%;
  font-size: 1em;
}
